* {
  box-sizing: border-box;
}

body{

font-family: 'Roboto', sans-serif;
color: #000;
background: #F5F5F5;
padding: 0;
margin: 0;
opacity: 10;
}

.container {
  width: 1072px;
  margin: 0 auto;
  
 
  

}


ul,li,h1,h2{
  display: block;
  margin: 0;
  padding: 0;
}

li{
  /*Убрать маркеры со списков*/
  list-style-type: none;
}

h1{
 font-size: 44px;
 
 text-align: center;

 
}

h2{

font-size:  20px;
text-align: center;
margin-top: 40px;
}

a{
  /*Убрать стиль ссылок*/
  text-decoration: none;
  color: black;
}
/*Блок*/

.nav, .menu{
  display: flex;

  /*Горизонтальное выравнивание*/
  align-items: center;
}
.menu{
  /*Растянуть блок*/
  width: 100%;
  /*Растянуть в разные стороны*/
  justify-content: start;




}

img{
  margin-right: 33px;
}

/*Блочные и строчные элементы
div и большинство элементов являются блочными и стремяться растянуться на всю ширину экрана
a, img, span - строчные элементы и они не стремяться в одного знанять всю линию ширины экрана, а растягиваются под ширину контента
Блочные элементы имеют свойство display: inline
Строчные элементы имеют свойство display: block*/

.nav{
  margin-top: 18px;
  margin-bottom: 29px;

}

/*Активация при наведении на ссылку*/
.menu__item__active:hover{
  border-bottom: 2px solid #2575FC;
  color: #2575FC;
}

.reg1{
  margin-right: 44px;
}

.reg2{
  margin-right: 700px;
}   

.table23 {
  margin-left: 260px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.table234{
  margin-left: 260px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.btn{

}
.tablo {
  display: flex;
  justify-content: flex-start;
 
  width: 300px;
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-left: 37px;

  margin-bottom: 40px;


}

.btn{
  /*Размеры кнопки*/
  width: 300px;
  height: 54px;

  text-decoration: none;

  /*Граница вокруг кнопки*/
  border: 1px solid #000000;
  border-radius: 500px;

  /*Расстояние от текста до границ кнопки*/
  padding: 14px 30px;

  /*Сделать текст в верхнем регистре*/
  /*text-transform: uppercase;*/
  color:  #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  /*Выравнивание текста */
  text-align: left;
  

/*Задаем свойства блоков ссылками (кнопками)*/
display: flex;

/*Оттолкнем нижние кнопки от верхних*/
margin-bottom: 40px;
margin-right: 20px;


/*Фон кнопки*/
background: #FCFDFC;
opacity: 0.9;

/*Тень для кнопки*/
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 1) ;

  margin-left: 190px;


}

th, td {
  /*Обводка ячеек*/
  border: 1px solid rgba(0, 0, 0, 1);;
}

table{
/*Убрать промежутки между обводками*/
  border-collapse: collapse;

  /*Растягиваем таблицу на всю ширину блока*/
  width: 50%;

  /*Тень таблицы*/
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 1);

  /*Оттолкнемся от заголовка*/
  margin-top: 15px;

  /*Отступ вниз*/
  margin-bottom: 105px;



}



tbody{
  background: #F0F2F5;;
}

.td{
  /*Задаем отступы в ячейках*/
 padding: 9px 0 9px 15px;
 font-size: 18px;
 display: flex;
 justify-content: space-between;
 width: 290px;
}

.td-ch{
  /*Ширина ячейки с чек боксом*/
  width: 100px;


}

.td:hover{
  background: red;
  opacity: 0.9;
  color: #fff;

  box-shadow: 3px 5px 10px rgba(255,51,0, 0.2); ;
}

.tablo::-webkit-scrollbar {
  width: 10px;

}

.tablo::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;

}

.tablo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: blue;
}

.text1{
  font-weight: bold;
  margin-left: 190px;
}

.btn:hover{
  background: red;
  opacity: 0.9;
  color: #fff;

  box-shadow: 3px 5px 10px rgba(255,51,0, 0.2); ;

}


.btn2{
  /*Размеры кнопки*/
  width: 300px;
  height: 70px;

  text-decoration: none;

  /*Граница вокруг кнопки*/
  border: 1px solid red;
  border-radius: 500px;

  /*Расстояние от текста до границ кнопки*/
  padding: 21px 30px;

  /*Сделать текст в верхнем регистре*/
  text-transform: uppercase;
  color:  red;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  /*Выравнивание текста */
  text-align: center;
  

/*Задаем свойства блоков ссылками (кнопками)*/
display: center;

/*Оттолкнем нижние кнопки от верхних*/
margin-bottom: 40px;
margin-right: 20px;


/*Фон кнопки*/
background: #FCFDFC;
opacity: 0.9;

/*Тень для кнопки*/
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 1) ;

  margin-left: 25px;

}

.table235{
   display: flex;
  justify-content: center;
  margin-left: -58px;
  margin-top: 20px;
  
}

.btn2:hover{
  background: red;
  opacity: 0.9;
  color: #fff;

  box-shadow: 3px 5px 10px rgba(255,51,0, 0.2); ;

}

.mt30 {
  margin-top: 30px;
  margin-left: 190px;
}
.b2 {
  margin-left: 25px;
}
.select-discipline {
  /*Размеры кнопки*/
  width: 300px;
  height: 311px;

  /*Убрать подчеркивание ссылки*/
  text-decoration: none;

  /*Граница вокруг кнопки*/
  border: 1px solid #000;
  border-radius: 5px;

  /*Расстояние от текста до гарницы*/
  padding: 15px 25px;

  /*Сделать текст в верхнем регистре и цвет и стиль*/
  color: #757575;
  font-weight: 400;
  line-height: 22px;
  font-size: 15px;

  /*Задаем свойство блоков ссылкам (кнопкам)*/
  display: block;

  /*Фон кнопки*/
  background: #FCFDFC;
  opacity: 0.9;

  /*Тень для кнопки*/
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
}


.textdis{
  margin-left: 190px;
}