/*LESSON_04*/
/*HTML:*/
/*1.	Делаем автообновление браузера:
	1. В фигма жмем shift+ctrl+p
	2. Пишем install Packeg  - выбираем пакедж контрол
	3. Botv LiveReload - ставим
	4. В начале html делаем пустую строку
	5. Жмем shift+ctrl+p и выбираем Snippet:Insert livereload.js script
	6. Жмем shift+ctrl+p и выбираем Livereload: Enable/Disable plug-ins (один раз)
	7. Выбираем Enable - Simple Reload
	Итог после модификации браузер при фокусе сам обновляется 
	(но при выходе из Sublime text 6 и 7 пункт нужно повторят.
*/

/*2. Favicon и OG-метки*/

/*3. Можно рассказать про новые теги HTML5 для семантических элементов 
http://htmlbook.ru/html5, например:
	<aside> - боковые колонки сайтов, например боайзер при полноэкраномрежиме может их скрывать
	<audio> и <video> - появляется втсроенный плеер;
	<canvas> - холст внутри html, где с помощью JS можно создавать рисунки, анимацию, игры
	<nav> - оборачивается навигация
	<header> - можно оборачивать весть первы экран, где могут находится и заголовки и тексты и картинки
	<footer> - подвал сайта
	<hgroup> - упразднен, не используется более
	<section> -  секция сайта, может иметь заголовки и неограниченное количество блоков
	<article> - секция, если его вынести за пределеы страницы, то смысл страницы не пострадает
	validator.w3.org - сайт проверки валидации
	*/
/*Делаем в HTML базовую структуру body:*/

/*<body>
	<header id="header" class="header">
		<div class="container">

		</div>
	</header>
	<section id="section" class="section">
		<div class="container">

		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="container">

		</div>
	</footer>
</body>*/

/*CSS:*/
/*4. Чтобы padding не раздвигал изнутри div и не увеличивал его фактический размер
	нужно прописать для всех тегов такое свойство и тогда padding будет сдавливать 
	контент в рамках размера заданнных размеров div*/
* {
	box-sizing: border-box;
}

/*5. Для body установить шрифт по умолчанию, его размер и цвет, 
скачать можно Google fonts*/
body {
	/*Базовый шрифт и размер, скачать и ссылку поставить перед css файлом*/
	font-family: 'Roboto', sans-serif;

	/*Про размеры шрифтов https://learn.javascript.ru/css-units*/
	font-size: 18px;
	color: #000;

	/*Обнулить отступы для body, но на внутрение элементы это не влияет*/
	padding: 0;
	margin: 0;

	/*Цвето фона*/
	background: #FCFDFC;
}

.container {
	width: 1072px;
	margin: 0 auto;
/*	border: 1px solid #000;	*/
}

ul, li, h1, h2 {
	/*Блочные свойства и обнуление отступов браузеров,
	 делать по умолчанию для любой верстке*/
	display: block;
	margin: 0;
	padding: 0;
}

li {
	/*Убрать маркеры со списков*/
	list-style-type: none; 
}

h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

.text-center {

	text-align: center;
}

.mt50 {
	margin-top: 50px;
}

.btn {
	/*Размеры кнопки*/
	width: 488px;
	height: 54px;

	/*Убрать подчеркивание ссылки*/
	text-decoration: none;

	/*Граница вокруг кнопки*/
	border: 1px solid #FF3300;
	border-radius: 500px;

	/*Расстояние от текста до гарницы*/
	padding: 14px 0;

	/*Сделать текст в верхнем регистре и цвет и стиль*/
	text-transform: uppercase;
	color: #FF3300;
	font-weight: 400;
	line-height: 22px;
	font-size: 15px;

	/*Выравнивание текста и размер*/
	text-align: center;
	

	/*Задаем свойство блоков ссылкам (кнопкам)*/
	display: block;

	/*Оттолкнем нижнии кнопки от верхних*/
	margin-bottom: 25px;

	/*Фон кнопки*/
	background: #FCFDFC;
	opacity: 0.9;

	/*Тень для кнопки*/
	box-shadow: 3px 5px 5px rgba(255, 51, 0, 0.2);
}

.btn-min {
	width: 250px;
}

.field {
	/*Размеры кнопки*/
	width: 300px;
	height: 54px;

	/*Убрать подчеркивание ссылки*/
	text-decoration: none;

	/*Граница вокруг кнопки*/
	border: 1px solid #000;
	border-radius: 500px;

	/*Расстояние от текста до гарницы*/
	padding: 15px 25px;

	/*Сделать текст в верхнем регистре и цвет и стиль*/
	color: #757575;
	font-weight: 400;
	line-height: 22px;
	font-size: 15px;

	/*Задаем свойство блоков ссылкам (кнопкам)*/
	display: block;

	/*Фон кнопки*/
	background: #FCFDFC;
	opacity: 0.9;

	/*Тень для кнопки*/
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
}



.buttons {
	/*Свойства для родителя блочных элементов для выравнивания*/
	display: flex;
	/*https://developer.mozilla.org/ru/docs/Web/CSS/justify-content*/

	/*Ширина зоны с кнопками*/
	width: 1014px;

	/*Растянуть контент по краям*/
	justify-content: space-between;
	

	/*Отступ от заголовка до кнопок*/
	margin-top: 40px;
}

.mt30 {
	margin-top: 30px;
}

.mt15 {
	margin-top: 15px;
}



.fields {
	width: 642px;
}

.btn-center {
	justify-content: center;
}

.w300 {
	width: 300px;
}

/*Делаем таблицу*/


th, td {
	/*Обводка ячеек*/
	border: 1px solid #2575FC;;
}

table {
	/*Убрать промежутки между обводками*/
	border-collapse: collapse;

	/*Растягиваем таблицу на ширну блока container*/
	width: 100%;

	/*Тень таблицы*/
	box-shadow: 3px 5px 5px rgba(34,102,218, 0.2);

	/*Оттолкнемся от заголовка*/
	margin-top: 15px;

	/*Отступ вниз*/
	margin-bottom: 105px;
}

thead {
	background: #2575FC;
	color: #FFF;
	text-align: left;
	
}

tbody {
	background: #F0F2F5;
}

.td {
	/*Отступы в ячейках*/
	padding: 37px 0 15px 15px;
	font-size: 18px;
}

.td-ch {
	/*Ширина ячейки с чекбоксом	*/
	width: 100px;
}

.check__item {
	/*Выравнивание чекбокса по середине ячейки*/
	display: block;
	margin: 37px auto 15px auto;
}

/*
https://ru.bem.info/ Методология Яндекса, которыю приняли на вворужение в мире
БЭМ - блок, элемент, модификтатор

Например в шапке есть блок, который содержит элементы: логотип, На главную и Logout
А модификатор - это изменение элемента при событии, например, наведении мышкой по меню

При это на равне с наймингом по БЭМ можно использовать обычные имена например .btn, где
стили для кнопки заданы для всего сайта и не важно в каком блоке кнопка расположена

Пример:
Блок: class="menu-top"
Элемент: class="menu-top__item-btn"
Модифицированный элемент: class="menu-top__item-btn menu-top__item-btn_active"

Если например Блок должен состоять из дву и более слов, то лучше писать через тире, например:
Блок: class="menu-top"
Элемент: class="menu-top__item"
Модифицированный элемент: class="menu-top__item menu-top__item_active"

При это для блоков внутри блока можно не применять сложный найминг. 
Например два блока вложены в один общий блок и по сути являются его элементами, но:
		<div class="head">
			<div class="block1"> - То есть не обязательно давать имя, типа head__block1, но это не ошибка
				<div class="block1__item block1__item_active">
					<p>Content</p>
				</div>
			</div>
			<div class="block2"> - То есть не обязательно давать имя, типа head__block2, но это не ошибка
				<div class="block2__item block2__item_active">
					<p>Content</p>
				</div>
			</div>
		</div>
*/

/*Стилизуем меню по БЭМ*/
a {
/*	Убрать стиль ссылко	*/
	text-decoration: none;

/*	Цвет текста ссылок*/
	color: #000;
}

.nav, .menu {
	display: flex;

	/*Горизонтальное выравнивание*/
	align-items: center;
}

/*Блок*/
.menu {
	/*Растянуть блок*/
	width: 100%;

	/*Растянуть в разные стороны*/
	justify-content: space-between;
}

img {
	margin-right: 33px;
}

/*Блочные и строчные элементы
div и большинство элементов являются блочными и стремяться растянуться на всю ширину экрана
a, img, span - строчные элементы и они не стремяться в одного знанять всю линию ширины экрана, а растягиваются под ширину контента
Строчные элементы имеют свойство display: inline
Блочные элементы имеют свойство display: block*/

.nav {
	margin-top: 18px;
	margin-bottom: 29px;
}

/*Активация при наведении на ссылку*/
.menu__item_active:hover {
	border-bottom: 2px solid #2266DA;
	color: #2266DA;
}

/*Активация при наведении на кнопку*/
.btn:hover {
	background: #FF3300;
	opacity: 0.9;
	color: #fff;

	box-shadow: 3px 5px 10px rgba(255,51,0, 0.6);
}

h2 {
	margin-top: 15px;
}
.message{
	text-align: center;
	color: red;

}